.Tb{
    height: 80vh;
    background-color:rgb(185, 202, 223);
    border-radius: 2%;
  }
  .insertar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 0px 2px #000;
    position: absolute;
    border-radius: 2%;
    top: 4%;
    left: -46%;
  }
  
  .Pr-Row{
    background-color: rgba(125, 152, 253, 0.2);
   
  }
  