
.navbar{
    width: 300px;
    height: 300px;
    background-color: #fcc;
    
}

.Content-Aside{
    position: relative;
    left:400px;
}
.sidebar{
    position: absolute;
    .sidebar-Title{

        position: relative;
        left: 19%;
        text-align: center;
        font-size: 3rem;
        font-family: sans-serif;
        text-shadow: 0px 1px 0px #000;
        width: 65%;
        height: 10%;
        
    }

}


















































